<div id="eventModal" class="modal hidden">
  <div class="modal-content">
    <h3>Chi tiết đăng ký</h3>
    <p><b>Người đăng ký:</b> <span id="eventUser"></span></p>
    <p><b>Sự kiện:</b> <span id="eventName"></span></p>
    <p><b>Ngày đăng ký:</b> <span id="eventDate"></span></p>
    <p><b>Trạng thái:</b> <span id="eventStatus"></span></p>

    <div class="modal-actions">
      <button id="btnApprove" class="btn green">✔ Duyệt</button>
      <button id="btnReject" class="btn red">✖ Từ chối</button>
      <button id="btnCloseEvent" class="btn gray">Đóng</button>
    </div>
  </div>
</div>
