<div id="reportModal" class="modal hidden">
  <div class="modal-content">
    <h3>Chi tiết báo cáo</h3>
    <p><b>Loại nội dung:</b> <span id="modalType"></span></p>
    <p><b>Người báo cáo:</b> <span id="modalUser"></span></p>
    <p><b>Lý do:</b> <span id="modalReason"></span></p>
    <p><b>Ngày gửi:</b> <span id="modalDate"></span></p>
    <p><b>Trạng thái:</b> <span id="modalStatus"></span></p>
    <div class="modal-actions">
      <button id="btnDismiss" class="btn red">DISMISS</button>
      <button id="btnDelete" class="btn green">DELETE</button>
      <button id="btnClose" class="btn gray">Đóng</button>
    </div>
  </div>
</div>
